#all-devices{
    padding-top: 4em;
    padding-bottom: 4em;
    background: linear-gradient(#FFFFFFCC, #FFFFFFCC), url(../images/unsplash_lpjb_UMOyx8.png), center, no-repeat;
    background-size: cover;
}

.all-devices{
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;

    .tablet{
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    .phone{
        width: 15%;
        position: absolute;
        bottom: -100px;
        right: 200px;

        @media (max-width: 1024px) {
            right: 150px;
        }

        @media (max-width: 990px) {
            right: 100px;
        }

        @media (max-width: 800px) {
            bottom: -50px;
        }

        @media (max-width: 550px) {
            // right: 50px;
            bottom: -30px;
        }
    }
}

.all-devices__header{
    .text__italic{
        font-family: Kaushan Script;
        font-size: 30px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        color: #2D3033;
    }

    .text__header{
        font-family: Raleway;
        font-size: 36px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        color: #2D3033;
        text-transform: uppercase;
        margin-top: 1em;
    }

    .text__line{
        width: 20%;
        margin: 3.5em auto 3em;
        border: 2px solid #F38281
    }
}
