
.map__header{

    background: linear-gradient(#FFFFFFCC, #FFFFFFCC), url(../images/unsplash_x3REnO9z7io.png), center, no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    
    img{
        width: 3%;
        margin: 0 auto;
    }

    .text__header{
        font-family: Raleway;
        font-size: 36px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        color: #F38281;
        text-transform: uppercase;
        margin-top: 0.3em;
    }

    .text__line{
        width: 20%;
        margin: 1.5em auto 1em;
        border: 2px solid #F38281;
    }
}