#partners{
    background-color: #F8F8F8;
}
.partners{
    max-width: 1170px;
    width: 100%;
    padding: 2em 15px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 765px) {
        flex-wrap: wrap;
    }

    img{
        // width: 10%;
        width: 124px;
        height: 124px;
    }

    img:nth-child(3),
    img:nth-child(4),
    img:nth-child(5){
        width: 62px;
        height: 62px;
        margin: 2%;

        @media (max-width: 770px) {
            margin: 5%;
        }

        @media (max-width: 320px) {
            margin: 13%;
        }
    }

    // img:nth-child(3){
    //     @media (max-width: 340px) {
    //         margin: 25% auto;
    //     }
    // }
}